{
	email admin@optipack.com
}

# API
api.optipack.com {
	reverse_proxy localhost:3009
	encode gzip

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
	}
}

# Dashboard Web
app.optipack.com {
	reverse_proxy localhost:3008
	encode gzip

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options SAMEORIGIN
		Referrer-Policy strict-origin-when-cross-origin
	}
}

# MinIO Console (admin only)
storage.optipack.com {
	reverse_proxy localhost:9001
}
