{
	email admin@transitsoftservices.com
}

# API
api.transitsoftservices.com {
	reverse_proxy localhost:3009
	encode gzip

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
	}
}

# Dashboard Web
app.transitsoftservices.com {
	reverse_proxy localhost:3008
	encode gzip

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options SAMEORIGIN
		Referrer-Policy strict-origin-when-cross-origin
	}
}

# MinIO Console (admin only)
storage.transitsoftservices.com {
	reverse_proxy localhost:9006
}
